<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
 <h2 style="color:#093657">My Blog</h2>
        <a href="/login">Login</a>
        <hr>
        {% with messages = get_flashed_messages()%}
        {% if messages %}
    <ul>
        {% for message in messages %}
            <li> {{message}}</li>
        {% endfor %}
    </ul>
        {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
</body>
</html>