<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
{{ pagination.info }}
{{ pagination.links }}
<table>
    <thead>
    <tr>
        <th>employee_Name</th>
        <th>role</th>
        <th>date_of_join</th>
        <th>contact_number<th>
        <th>admin<th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employee_details%}

    <tr>
         <th scope="row">{{ loop.index }}</th>
        <td>{{ employee.employee_name }}</td>
        <td>{{employee. role }}</td>
        <td>{{ employee.date_of_join }}</td>
        <td>{{employee. contact_number }}</td>
        <td>{{employee.admin }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>