<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <h1>LOGIN</h1>
   {% extends "header.html" %}
{% block content %}
<h1> Sign In</h1>
<form action="index" method="post">
    {{ form.hidden_tag() }}
    <p>{{form.user_name.label}}<br>
    {{form.user_name(size=32)}}<br>
    </p>
    <p>{{form.password.label}}<br>
    {{form.password(size=32)}}<br>
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
</head>
<body>

</body>
</html>